@import '../../app.scss';

.slider-container {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  background-color: $grey;
  border: 1px solid $secondary;
  padding: 20px 0;

  .text-slide {
    display: flex;
    align-items: center;
    gap: 4rem;
    animation: 10s slide linear infinite alternate;
    
    h2 {
      color: $grey-dark;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 124.3%;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 425px) {
  .slider-container {
    .text-slide {
      h2 {
        font-size: 30px;
      }

      img {
        width: 70px;
      }
    }
  }
}